<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<h1>Star Wars DB</h1>

<%= link_to "Logout", :controller => 'logged', :action => 'logout' %>

<h2>Type</h2>

<% if @result!=nil%>
    <% @result.each do |type| %>
        <button class="afficher-liste" data-id="<%= type[0] %>"> <%= type[0] %></button>
    <% end %>
<% end %>

<div id="liste-elements"></div>

<h2>Search</h2>
<!-- search textfiled called javascript search function -->
<input type="text" id="search" onkeyup="search()" placeholder="Search for names..">
<!-- dropdown with @result data-->
<select id="type">
    <% if @result!=nil%>
        <% @result.each do |type| %>
            <option value="<%= type[0] %>"><%= type[0] %></option>
        <% end %>
    <% end %>
</select>

<!-- search script in javascript -->

<script>
$(document).on('click', '.afficher-liste', function() {
  var elementId = $(this).data('id');
  $.ajax({
    url: 'https://swapi.dev/api/' + elementId,
    type: 'GET',
    dataType: 'json',
    success: function(response) {
      var listeElements = response.results;
      var listeHtml = '<ul>';
      for (var i = 0; i < listeElements.length; i++) {
        if(elementId != 'films'){
            var elementHtml = '<li><a href="/details/index?url=' + listeElements[i].url+ '">' + listeElements[i].name + '</a></li>';
        }else{
            var elementHtml = '<li><a href="/details/index?url=' + listeElements[i].url+ '">' + listeElements[i].title + '</a></li>';
        }
        listeHtml += elementHtml;
      }
      listeHtml += '</ul>';
      $('#liste-elements').html(listeHtml);
    }
  });
});

function search(){
    type = document.getElementById("type").value;
    url = "https://swapi.dev/api/"+type+"/?search="+document.getElementById("search").value;
    $.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            var listeElements = response.results;
            var listeHtml = '<ul>';
            for (var i = 0; i < listeElements.length; i++) {
                var elementHtml = '<li><a href="/details/index?url=' + listeElements[i].url+ '">' + listeElements[i].name + '</a></li>';
                listeHtml += elementHtml;
            }
            listeHtml += '</ul>';
            $('#liste-elements').html(listeHtml);
        }
    });
}
</script>