<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<header>
<%= link_to "Logout", :controller => 'logged', :action => 'logout' %>
</header>
<body>
<h1>Star Wars DB</h1>

<h2>Type</h2>

<% if @result!=nil%>
    <% @result.each do |type| %>
        <button class="afficher-liste" data-id="<%= type[0] %>"> <%= type[0] %></button>
    <% end %>
<% end %>

<!-- if @type is not nil, show type -->
<% if @type != nil %>
    <h2><%= @type %></h2>
<% end %>

<h2>Search</h2>

<input type="text" id="search" onkeyup="search()" placeholder="Search for names..">

<select id="type">
    <% if @result!=nil%>
        <% @result.each do |type| %>
            <option value="<%= type[0] %>"><%= type[0] %></option>
        <% end %>
    <% end %>
</select>

<div id="liste-elements"></div>

</body>


<script>
$(document).on('click', '.afficher-liste', function() {
  var elementId = $(this).data('id');
    $.ajax({
        url: 'https://swapi.dev/api/' + elementId,
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            var listeElements = response.results;
            var listeHtml = '<ul>';
            for (var i = 0; i < listeElements.length; i++) {
                if(elementId != 'films'){
                    var elementHtml = '<li><a href="/details/index?url=' + listeElements[i].url+ '">' + listeElements[i].name + '</a></li>';
                }else{
                    var elementHtml = '<li><a href="/details/index?url=' + listeElements[i].url+ '">' + listeElements[i].title + '</a></li>';
                }
                listeHtml += elementHtml;
            }
            listeHtml += '</ul>';
            
            const regex = /\/(\w+\/\?\w+=\d+)/;
            if(response.previous != null){
                const match = response.previous.match(regex);
                listeHtml += '<button class="afficher-liste" data-id="' +  match[1] + '">Previous</button>';
            }
            if(response.next != null){
                const match = response.next.match(regex);
                listeHtml += '<button class="afficher-liste" data-id="' +  match[1] + '">Next</button>';
            }
            $.get({
                url: '/logged/index?type=' +elementId ,
                type: 'GET',
                dataType: 'json'
            })
            $('#liste-elements').html(listeHtml);
        }
    });
});

function search(){
    type = document.getElementById("type").value;
    url = "https://swapi.dev/api/"+type+"/?search="+document.getElementById("search").value;
    $.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            var listeElements = response.results;
            var listeHtml = '<ul>';
            for (var i = 0; i < listeElements.length; i++) {
                if(type != 'films'){
                    var elementHtml = '<li><a href="/details/index?url=' + listeElements[i].url+ '">' + listeElements[i].name + '</a></li>';
                }else{
                    var elementHtml = '<li><a href="/details/index?url=' + listeElements[i].url+ '">' + listeElements[i].title + '</a></li>';
                }
                listeHtml += elementHtml;
            }
            listeHtml += '</ul>';
            const regex = /\/(\w+\/\?\w+=\d+)/;
            if(response.previous != null){
                const match = response.previous.match(regex);
                listeHtml += '<button class="afficher-liste" data-id="' +  match[1] + '">Previous</button>';
            }
            if(response.next != null){
                const match = response.next.match(regex);
                listeHtml += '<button class="afficher-liste" data-id="' +  match[1] + '">Next</button>';
            }
            $('#liste-elements').html(listeHtml);
        }
    });
}
</script>